/.build/
/_build/
/Build
/Build.bat
/blib

/cpanfile.spanshot
/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

MYMETA.*

/Image-JPEG-EstimateQuality-*
